<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="EndpointUri" value="https://localhost:8081" />
		<add key="PrimaryKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
		<add key="jsonFile" value="hourly_rh_dp_2019_small.json" />
		<add key="csvFile" value="hourly_pm_2019_small.csv" />

		<add key="hourly_rh_dp_data_2017_json_small" value="hourly_rh_dp_2017_small.json" />
		<add key="hourly_rh_dp_data_2018_json_small" value="hourly_rh_dp_2018_small.json" />
		<add key="hourly_rh_dp_data_2019_json_small" value="hourly_rh_dp_2019_small.json" />
		<add key="hourly_rh_dp_data_2020_json_small" value="hourly_rh_dp_2020_small.json" />

		<add key="hourly_pm_data_2017_json_small" value="hourly_pm_2017_small.json" />
		<add key="hourly_pm_data_2018_json_small" value="hourly_pm_2018_small.json" />
		<add key="hourly_pm_data_2019_json_small" value="hourly_pm_2019_small.json" />
		<add key="hourly_pm_data_2020_json_small" value="hourly_pm_2020_small.json" />
		
		<add key="hourly_rh_dp_data_2017_csv" value="hourly_rh_dp_2017_small.csv" />
		<add key="hourly_rh_dp_data_2018_csv" value="hourly_rh_dp_2018_small.csv" />
		<add key="hourly_rh_dp_data_2019_csv" value="hourly_rh_dp_2019_small.csv" />
		<add key="hourly_rh_dp_data_2020_csv" value="hourly_rh_dp_2020_small.csv" />

		<add key="hourly_pm_data_2017_csv" value="hourly_pm_2017_small.csv" />
		<add key="hourly_pm_data_2018_csv" value="hourly_pm_2018_small.csv" />
		<add key="hourly_pm_data_2019_csv" value="hourly_pm_2019_small.csv" />
		<add key="hourly_pm_data_2020_csv" value="hourly_pm_2020_small.csv" />
	</appSettings>
</configuration>